Repository element-hq/synapse, pull requests merged in 2024-09, with the labels that each got.

#17636 Sliding sync: various fixes to background update
  changelog.d/17636.misc
  synapse/storage/databases/main/events.py
  synapse/storage/databases/main/events_bg_updates.py
  synapse/storage/databases/main/events_worker.py
Labels: A-Sync

#17629 Sliding Sync: Split up `get_room_membership_for_user_at_to_token`
  changelog.d/17629.misc
  synapse/handlers/sliding_sync/room_lists.py
Labels: A-Sync

#17630 Sliding sync: use new DB tables
  changelog.d/17630.misc
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/_base.py
  synapse/storage/background_updates.py
  synapse/storage/databases/main/cache.py
  synapse/storage/databases/main/events_bg_updates.py
  synapse/storage/databases/main/roommember.py
  synapse/storage/roommember.py
  tests/rest/client/sliding_sync/test_connection_tracking.py
  tests/rest/client/sliding_sync/test_extension_account_data.py
  tests/rest/client/sliding_sync/test_extension_e2ee.py
  tests/rest/client/sliding_sync/test_extension_receipts.py
  tests/rest/client/sliding_sync/test_extension_to_device.py
  tests/rest/client/sliding_sync/test_extension_typing.py
  tests/rest/client/sliding_sync/test_extensions.py
  tests/rest/client/sliding_sync/test_room_subscriptions.py
  tests/rest/client/sliding_sync/test_rooms_invites.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
  tests/rest/client/sliding_sync/test_rooms_required_state.py
  tests/rest/client/sliding_sync/test_rooms_timeline.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
Labels: A-Sync

#17649 Fix sliding sync on workers
  changelog.d/17649.misc
  synapse/storage/databases/main/events_bg_updates.py
  synapse/storage/databases/main/roommember.py
Labels: A-Sync, X-Release-Blocker

#17655 Sliding Sync: Prevent duplicate tags being added to traces
  changelog.d/17655.misc
  synapse/handlers/sliding_sync/__init__.py
Labels: A-Sync

#17641 Fix background update to handle invalid events
  changelog.d/17641.misc
  synapse/storage/databases/main/events_bg_updates.py
Labels: A-Sync, X-Release-Blocker

#17670 Speed up sliding sync by avoiding copies
  changelog.d/17670.misc
  synapse/handlers/sliding_sync/__init__.py
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/roommember.py
  tests/handlers/test_sliding_sync.py
Labels: A-Sync

#17666 Speed up fetching partial-state rooms on sliding sync
  changelog.d/17666.misc
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/databases/main/room.py
Labels: A-Sync

#17672 Small performance improvements for sliding sync
  changelog.d/17672.misc
  synapse/handlers/sliding_sync/room_lists.py
  synapse/types/handlers/sliding_sync.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
Labels: A-Sync

#17674 Fix bump stamp for non-joined rooms
  changelog.d/17674.bugfix
  synapse/handlers/sliding_sync/__init__.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
Labels: A-Sync

#17665 Sliding Sync: Speed up incremental sync by avoiding extra work
  changelog.d/17665.misc
  synapse/handlers/sliding_sync/__init__.py
  synapse/rest/client/sync.py
  synapse/types/handlers/sliding_sync.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
Labels: A-Sync

#17654 Sliding Sync: Add comment to explain extra case where you can be invited -> banned -> unbanned
  changelog.d/17654.misc
  synapse/storage/databases/main/events_bg_updates.py
Labels: A-Sync

#17688 Sliding Sync: Retrieve fewer events from DB in sync
  changelog.d/17688.misc
  synapse/handlers/admin.py
  synapse/handlers/pagination.py
  synapse/handlers/room.py
  synapse/handlers/sliding_sync/__init__.py
  synapse/handlers/sync.py
  synapse/storage/databases/main/stream.py
  tests/rest/client/sliding_sync/test_rooms_timeline.py
  tests/storage/test_stream.py
Labels: A-Sync

#17684 Sliding Sync: Look for `bump _stamp` in the room timeline
  changelog.d/17684.misc
  synapse/handlers/sliding_sync/__init__.py
Labels: A-Sync

#17673 Sliding sync: various fixups to the sliding sync joined room background job
  changelog.d/17673.misc
  synapse/storage/databases/main/events_bg_updates.py
Labels: A-Sync, X-Release-Blocker

#17683 Sliding sync: don't fetch room summary for named rooms.
  changelog.d/17683.misc
  synapse/handlers/sliding_sync/__init__.py
  synapse/storage/_base.py
  synapse/storage/databases/main/roommember.py
  synapse/storage/databases/main/state.py
  synapse/storage/schema/main/delta/87/03_current_state_index.sql
  tests/rest/client/sliding_sync/test_rooms_meta.py
Labels: A-Sync

#17652 Sliding sync: various fixups to the background update
  changelog.d/17652.misc
  synapse/storage/databases/main/events.py
  synapse/storage/databases/main/events_bg_updates.py
  tests/storage/test_sliding_sync_tables.py
Labels: A-Sync, X-Release-Blocker

#17692 Sliding Sync: Make sure we get up-to-date information from `get_sliding_sync_rooms_for_user(...)`
  changelog.d/17692.bugfix
  synapse/storage/_base.py
  synapse/storage/databases/main/cache.py
  synapse/storage/databases/main/roommember.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
Labels: A-Sync

#17693 Sliding Sync: Use Sliding Sync tables for sorting
  changelog.d/17693.misc
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/databases/main/events_bg_updates.py
  synapse/storage/databases/main/events_worker.py
  synapse/storage/databases/main/roommember.py
  synapse/storage/databases/main/stream.py
  synapse/types/storage/__init__.py
  tests/storage/test_sliding_sync_tables.py
Labels: A-Sync

#17703 Sliding Sync: Move filters tests to rest layer
  changelog.d/17703.misc
  synapse/handlers/sliding_sync/room_lists.py
  synapse/rest/client/sync.py
  synapse/storage/databases/main/roommember.py
  synapse/storage/roommember.py
  tests/handlers/test_sliding_sync.py
  tests/rest/client/sliding_sync/test_lists_filters.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
Labels: A-Sync

#17696 Sliding Sync: Increase concurrency of sliding sync a bit
  changelog.d/17696.misc
  synapse/handlers/sliding_sync/__init__.py
  synapse/handlers/sliding_sync/extensions.py
Labels: A-Sync

#17662 Sliding Sync: Support filtering by 'tags' / 'not_tags' in SSS
  changelog.d/17662.feature
  synapse/handlers/sliding_sync/room_lists.py
  tests/rest/client/sliding_sync/test_lists_filters.py
Labels: A-Sync

#17707 Sliding Sync: Return room tags in account data extension
  changelog.d/17707.feature
  synapse/handlers/sliding_sync/extensions.py
  synapse/storage/databases/main/account_data.py
  synapse/types/handlers/sliding_sync.py
  tests/rest/client/sliding_sync/test_extension_account_data.py
Labels: A-Sync

#17723 Sliding Sync: Short-circuit `have_finished_sliding_sync_background_jobs`
  changelog.d/17723.misc
  synapse/handlers/sliding_sync/__init__.py
Labels: A-Sync

#17727 Sliding Sync: bugfix: ensure we can sync with SSS even with missing rooms
  changelog.d/17727.bugfix
  synapse/storage/databases/main/stream.py
Labels: A-Sync, T-Defect

#17724 Sliding Sync: Shortcut for checking if certain background updates have completed
  changelog.d/17724.misc
  synapse/storage/background_updates.py
Labels: A-Sync

#17729 Sliding sync: Ignore invites from ignored users
  changelog.d/17729.bugfix
  synapse/handlers/sliding_sync/room_lists.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
Labels: A-Sync

#17728 Sliding Sync: Fix `_bulk_get_max_event_pos(...)` being inefficient
  changelog.d/17728.misc
  synapse/storage/databases/main/stream.py
Labels: A-Sync

#17731 Sliding Sync: No need to sort if the range is large enough to cover all of the rooms
  changelog.d/17731.misc
  synapse/handlers/sliding_sync/room_lists.py
  tests/rest/client/sliding_sync/test_lists_filters.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
Labels: A-Sync

#17730 Sliding Sync: Add cache to `get_tags_for_room(...)`
  changelog.d/17730.misc
  synapse/handlers/account_data.py
  synapse/storage/databases/main/cache.py
  synapse/storage/databases/main/tags.py
  tests/server_notices/test_resource_limits_server_notices.py
Labels: A-Sync

#17733 Fix sliding sync for rooms with unknown room version
  changelog.d/17733.bugfix
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/databases/main/roommember.py
  tests/rest/client/sliding_sync/test_rooms_meta.py
Labels: A-Sync

#17725 Sliding Sync: Avoid fetching left rooms and add back `newly_left` rooms
  changelog.d/17725.misc
  synapse/handlers/sliding_sync/__init__.py
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/databases/main/roommember.py
  synapse/storage/databases/main/state.py
  synapse/storage/databases/main/stream.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
  tests/storage/test_stream.py
Labels: A-Sync

#17695 Sliding sync: Add connection tracking to the `account_data` extension
  changelog.d/17695.bugfix
  synapse/handlers/sliding_sync/extensions.py
  synapse/storage/databases/main/account_data.py
  synapse/storage/databases/main/sliding_sync.py
  synapse/storage/databases/main/tags.py
  synapse/types/handlers/sliding_sync.py
  tests/rest/client/sliding_sync/test_extension_account_data.py
Labels: A-Sync

#17734 Speed up sorting of sliding sync rooms in initial request
  changelog.d/17734.misc
  synapse/handlers/sliding_sync/room_lists.py
Labels: A-Sync
