Repository element-hq/synapse, pull requests merged in 2024-12, with the labels that each got.

#17947 Sliding Sync: Include invite, ban, kick, targets when `$LAZY`-loading room members
  changelog.d/17947.feature
  synapse/api/constants.py
  synapse/handlers/sliding_sync/__init__.py
  synapse/types/handlers/sliding_sync.py
  tests/rest/client/sliding_sync/test_rooms_required_state.py
Labels: A-Sync

#17975 MSC4076: Add disable_badge_count to pusher configuration
  changelog.d/17975.feature
  synapse/config/experimental.py
  synapse/push/httppusher.py
  tests/push/test_http.py
Labels: X-Release-Blocker

#17705 Support for MSC4190: device management for application services
  changelog.d/17705.feature
  synapse/appservice/__init__.py
  synapse/config/appservice.py
  synapse/handlers/device.py
  synapse/handlers/register.py
  synapse/rest/client/devices.py
  synapse/rest/client/register.py
  tests/handlers/test_appservice.py
  tests/handlers/test_oauth_delegation.py
  tests/rest/client/test_devices.py
  tests/rest/client/test_register.py
  tests/unittest.py
Labels: X-Release-Blocker

#17983 Add `macaroon_secret_key_path` config option
  changelog.d/17983.feature
  docs/usage/configuration/config_documentation.md
  synapse/config/key.py
  tests/config/test_load.py
  tests/config/utils.py
Labels: A-Config

#17994 Update reverse proxy docs with what we've learned from #17986
  changelog.d/17994.doc
  docker/conf-workers/nginx.conf.j2
  docs/reverse_proxy.md
Labels: A-Docker, A-Docs
