Repository element-hq/synapse, pull requests merged in 2024-06, with the labels that each got.

#17187 Add Sliding Sync `/sync` endpoint (initial implementation)
  changelog.d/17187.feature
  synapse/api/constants.py
  synapse/handlers/sliding_sync.py
  synapse/handlers/sync.py
  synapse/rest/client/models.py
  synapse/rest/client/room.py
  synapse/rest/client/sync.py
  synapse/server.py
  tests/handlers/test_sliding_sync.py
  tests/rest/client/test_sync.py
  tests/rest/client/utils.py
Labels: A-Sync

#17292 Fix bug where device lists would break sync
  changelog.d/17292.bugfix
  synapse/storage/databases/main/devices.py
  synapse/storage/schema/main/delta/85/05_add_instance_names_converted_pos.sql
Labels: X-Release-Blocker

#17295 Fix `get_last_event_in_room_before_stream_ordering(...)` finding the wrong last event
  changelog.d/17295.bugfix
  synapse/storage/databases/main/stream.py
  tests/storage/test_stream.py
Labels: A-Sync, z-bug

#17301 Fix `newly_left` rooms not appearing if we returned early (Sliding Sync)
  changelog.d/17301.bugfix
  synapse/handlers/sliding_sync.py
  tests/handlers/test_sliding_sync.py
Labels: A-Sync, z-bug

#17277 Add `is_dm` filtering to Sliding Sync `/sync`
  changelog.d/17277.feature
  synapse/handlers/sliding_sync.py
  synapse/types/rest/client/__init__.py
  tests/handlers/test_sliding_sync.py
  tests/rest/client/test_sync.py
Labels: A-Sync

#17293 Add `stream_ordering` sort to Sliding Sync `/sync`
  changelog.d/17293.feature
  synapse/handlers/message.py
  synapse/handlers/sliding_sync.py
  synapse/handlers/sync.py
  synapse/storage/databases/main/stream.py
  synapse/types/rest/client/__init__.py
  tests/handlers/test_sliding_sync.py
  tests/rest/client/test_sync.py
  tests/storage/test_stream.py
Labels: A-Sync

#17281 Add `is_encrypted` filtering to Sliding Sync `/sync`
  changelog.d/17281.feature
  synapse/handlers/sliding_sync.py
  synapse/handlers/sync.py
  synapse/storage/controllers/state.py
  tests/handlers/test_sliding_sync.py
Labels: A-Sync

#17331 Register sliding sync under a different path
  changelog.d/17331.misc
  synapse/rest/client/sync.py
  tests/rest/client/test_sync.py
Labels: A-Sync

#17336 Fix room `type` typo in mailer
  changelog.d/17336.bugfix
  synapse/push/mailer.py
Labels: A-Email-Push

#17335 Add `is_invite` filtering to Sliding Sync `/sync`
  changelog.d/17335.feature
  synapse/handlers/sliding_sync.py
  tests/handlers/test_sliding_sync.py
  tests/rest/client/test_sync.py
Labels: A-Sync
