Repository element-hq/synapse, pull requests merged in 2025-09, with the labels that each got.

#18791 Re-introduce: Fix `LaterGauge` metrics to collect from all servers
  changelog.d/18791.misc
  synapse/_scripts/generate_workers_map.py
  synapse/_scripts/synapse_port_db.py
  synapse/federation/send_queue.py
  synapse/federation/sender/__init__.py
  synapse/handlers/presence.py
  synapse/http/request_metrics.py
  synapse/metrics/__init__.py
  synapse/notifier.py
  synapse/replication/tcp/handler.py
  synapse/replication/tcp/protocol.py
  synapse/server.py
  synapse/storage/database.py
  synapse/storage/databases/__init__.py
  synapse/storage/databases/main/roommember.py
  synapse/util/ratelimitutils.py
  synapse/util/task_scheduler.py
  tests/metrics/test_metrics.py
  tests/replication/_base.py
  tests/server.py
Labels: A-Metrics

#18823 Handle rescinding invites over federation
  changelog.d/18823.bugfix
  synapse/federation/sender/__init__.py
  synapse/handlers/federation_event.py
Labels: A-Invite, A-Federation

#18900 Better explain logcontext in `run_in_background(...)` and `run_as_background_process(...)`
  changelog.d/18900.misc
  docs/log_contexts.md
  synapse/logging/context.py
  synapse/metrics/background_process_metrics.py
Labels: A-Logging

#18945 Introduce `Clock.add_system_event_trigger(...)` to include logcontext by default
  changelog.d/18945.misc
  scripts-dev/mypy_synapse_plugin.py
  synapse/app/_base.py
  synapse/handlers/presence.py
  synapse/server.py
  synapse/storage/databases/main/client_ips.py
  synapse/storage/databases/main/lock.py
  synapse/util/clock.py
Labels: A-Logging

#18933 Split loading config vs homeserver `setup`
  changelog.d/18933.misc
  synapse/app/admin_cmd.py
  synapse/app/appservice.py
  synapse/app/client_reader.py
  synapse/app/event_creator.py
  synapse/app/federation_reader.py
  synapse/app/federation_sender.py
  synapse/app/frontend_proxy.py
  synapse/app/generic_worker.py
  synapse/app/homeserver.py
  synapse/app/media_repository.py
  synapse/app/pusher.py
  synapse/app/synchrotron.py
  synapse/app/user_dir.py
  synapse/config/_base.py
  tests/app/test_homeserver_start.py
  tests/config/test_registration_config.py
Labels: A-Config

#18992 Remove `MockClock()`
  changelog.d/18992.misc
  synapse/app/phone_stats_home.py
  synapse/util/constants.py
  tests/appservice/test_scheduler.py
  tests/config/test_oauth_delegation.py
  tests/handlers/test_appservice.py
  tests/handlers/test_e2e_room_keys.py
  tests/http/federation/test_srv_resolver.py
  tests/http/test_matrixfederationclient.py
  tests/media/test_media_retention.py
  tests/rest/client/test_transactions.py
  tests/rest/key/v2/test_remote_key_resource.py
  tests/server.py
  tests/storage/test_base.py
  tests/test_server.py
  tests/test_state.py
  tests/test_test_utils.py
  tests/unittest.py
  tests/util/test_expiring_cache.py
  tests/utils.py
Labels: A-Logging, A-Testing

#18998 Fix `rc_room_creation` and `rc_reports` docs - remove `per_user` typo
  changelog.d/18998.doc
  docs/usage/configuration/config_documentation.md
  schema/synapse-config.schema.yaml
Labels: A-Config
