Repository element-hq/synapse, pull requests merged in 2025-06, with the labels that each got.

#18510 Distinguish all vs local events being persisted in the "Event Send Time Quantiles" graph
  changelog.d/18510.misc
  contrib/grafana/synapse.json
Labels: A-Metrics

#18535 Fix bug where sliding sync ignored `room_id_to_include` option
  changelog.d/18535.bugfix
  synapse/handlers/sliding_sync/room_lists.py
  synapse/util/__init__.py
  tests/rest/client/sliding_sync/test_sliding_sync.py
  tests/util/test_mutable_overlay_mapping.py
Labels: A-Sync

#18357 Speed up MAS token introspection
  .github/workflows/tests.yml
  Cargo.lock
  changelog.d/18357.misc
  rust/Cargo.toml
  rust/src/errors.rs
  rust/src/http_client.rs
  rust/src/lib.rs
  synapse/api/auth/msc3861_delegated.py
  synapse/logging/opentracing.py
  synapse/synapse_rust/http_client.pyi
  tests/handlers/test_oauth_delegation.py
Labels: rust

#18573 Improve docstring on `simple_upsert_many`.
  changelog.d/18573.misc
  synapse/storage/database.py
Labels: A-Database
