Repository element-hq/synapse, pull requests merged in 2025-05, with the labels that each got.

#18399 Convert Sliding Sync tests to use higher-level `compute_interested_rooms`
  changelog.d/18399.misc
  synapse/handlers/sliding_sync/room_lists.py
  synapse/storage/_base.py
  synapse/storage/databases/main/cache.py
  synapse/storage/databases/main/roommember.py
  synapse/storage/databases/main/stream.py
  tests/handlers/test_sliding_sync.py
Labels: A-Sync

#18439 Move index creation to background update
  changelog.d/18439.bugfix
  synapse/storage/databases/main/sliding_sync.py
  synapse/storage/schema/main/delta/92/04_ss_membership_snapshot_idx.sql
Labels: A-Database

#18440 Check for `CREATE/DROP INDEX` in schema deltas
  changelog.d/18440.misc
  scripts-dev/check_schema_delta.py
Labels: A-Database

#18447 Fix up the topological ordering for events above `MAX_DEPTH`
  changelog.d/18447.bugfix
  synapse/storage/databases/main/events_bg_updates.py
  synapse/storage/schema/main/delta/92/05_fixup_max_depth_cap.sql
  synapse/types/storage/__init__.py
  tests/storage/test_events_bg_updates.py
Labels: X-Release-Blocker

#18454 Allow only requiring a field be present in an SSO response, rather than specifying a required value
  changelog.d/18454.misc
  docs/usage/configuration/config_documentation.md
  synapse/config/sso.py
  tests/handlers/test_oidc.py
Labels: A-SSO

#18463 Add a unit test for the phone home stats
  changelog.d/18463.misc
  docs/usage/administration/monitoring/reporting_homeserver_usage_statistics.md
  synapse/app/phone_stats_home.py
  tests/metrics/test_phone_home_stats.py
Labels: A-Metrics

#18318 Include room ID in room deletion status response
  changelog.d/18318.feature
  docs/admin_api/rooms.md
  synapse/rest/admin/rooms.py
  tests/rest/admin/test_room.py
Labels: A-Admin-API
