Repository element-hq/synapse, pull requests merged in 2025-07, with the labels that each got.

#18620 Speed up the building of Docker images using ARM CI workers
  .github/workflows/docker.yml
  .github/workflows/release-artifacts.yml
  changelog.d/18620.misc
Labels: A-CI, A-Docker

#18618 Use native arm runners for building wheels
  .github/workflows/release-artifacts.yml
  changelog.d/18618.misc
  pyproject.toml
Labels: A-CI

#18564 Remove unnecessary replication calls
  changelog.d/18564.misc
  synapse/federation/federation_server.py
  synapse/handlers/federation.py
  synapse/replication/http/federation.py
  synapse/storage/databases/main/cache.py
  synapse/storage/databases/main/event_federation.py
  synapse/storage/databases/main/room.py
Labels: A-Workers

#17984 Add recaptcha_{private,public}_key_path config option
  changelog.d/17984.feature
  docs/usage/configuration/config_documentation.md
  schema/synapse-config.schema.yaml
  synapse/config/captcha.py
  tests/config/test_load.py
Labels: A-Config

#18684 Correct version that `recaptcha_{private,public}_key_path` config options were introduced
  changelog.d/18684.feature
  docs/usage/configuration/config_documentation.md
  schema/synapse-config.schema.yaml
Labels: A-Docs

#18687 Clean up `MetricsResource` and Prometheus hacks
  changelog.d/18687.misc
  poetry.lock
  pyproject.toml
  synapse/app/_base.py
  synapse/metrics/__init__.py
  synapse/metrics/_twisted_exposition.py
  tests/metrics/test_metrics.py
  tests/storage/test_event_metrics.py
Labels: A-Metrics

#18581 Move device changes off the main process
  changelog.d/18581.feature
  docker/complement/conf/start_for_complement.sh
  docker/configure_workers_and_start.py
  docs/usage/configuration/config_documentation.md
  docs/workers.md
  schema/synapse-config.schema.yaml
  synapse/config/workers.py
  synapse/handlers/appservice.py
  synapse/handlers/deactivate_account.py
  synapse/handlers/device.py
  synapse/handlers/devicemessage.py
  synapse/handlers/e2e_keys.py
  synapse/handlers/federation.py
  synapse/handlers/federation_event.py
  synapse/handlers/register.py
  synapse/handlers/set_password.py
  synapse/handlers/sso.py
  synapse/module_api/__init__.py
  synapse/replication/http/__init__.py
  synapse/replication/http/devices.py
  synapse/replication/tcp/client.py
  synapse/replication/tcp/handler.py
  synapse/rest/admin/__init__.py
  synapse/rest/admin/devices.py
  synapse/rest/client/devices.py
  synapse/rest/client/keys.py
  synapse/rest/client/logout.py
  synapse/server.py
  synapse/storage/databases/main/devices.py
  synapse/storage/databases/main/end_to_end_keys.py
  synapse/storage/databases/main/receipts.py
  synapse/storage/databases/main/registration.py
  synapse/storage/databases/main/relations.py
  synapse/storage/databases/main/room.py
  synapse/storage/databases/main/stream.py
  synapse/streams/events.py
  synapse/types/__init__.py
  tests/federation/test_federation_sender.py
  tests/handlers/test_device.py
  tests/handlers/test_e2e_keys.py
  tests/module_api/test_api.py
  tests/rest/admin/test_device.py
Labels: A-Workers

#18686 Configure HTTP proxy in file config
  changelog.d/18686.feature
  docs/setup/forward_proxy.md
  docs/usage/configuration/config_documentation.md
  schema/synapse-config.schema.yaml
  synapse/config/repository.py
  synapse/config/server.py
  synapse/http/client.py
  synapse/http/federation/matrix_federation_agent.py
  synapse/http/matrixfederationclient.py
  synapse/http/proxyagent.py
  tests/handlers/test_typing.py
  tests/http/federation/test_matrix_federation_agent.py
  tests/http/test_proxyagent.py
  tests/replication/test_federation_sender_shard.py
Labels: A-Config

#18718 Reduce database usage in Sliding Sync by not querying for background update completion after the update is known to be complete.
  changelog.d/18718.misc
  synapse/storage/databases/main/events_worker.py
Labels: A-Database, A-Sync

#18656 Refactor `Counter` metrics to be homeserver-scoped
  changelog.d/18656.misc
  scripts-dev/mypy_synapse_plugin.py
  synapse/appservice/api.py
  synapse/federation/federation_client.py
  synapse/federation/federation_server.py
  synapse/federation/sender/__init__.py
  synapse/federation/sender/per_destination_queue.py
  synapse/handlers/appservice.py
  synapse/handlers/auth.py
  synapse/handlers/device.py
  synapse/handlers/federation_event.py
  synapse/handlers/presence.py
  synapse/handlers/register.py
  synapse/handlers/sso.py
  synapse/handlers/sync.py
  synapse/http/client.py
  synapse/http/matrixfederationclient.py
  synapse/http/request_metrics.py
  synapse/http/site.py
  synapse/metrics/__init__.py
  synapse/notifier.py
  synapse/push/bulk_push_rule_evaluator.py
  synapse/push/httppusher.py
  synapse/push/mailer.py
  synapse/replication/http/_base.py
  synapse/replication/tcp/external_cache.py
  synapse/replication/tcp/handler.py
  synapse/replication/tcp/redis.py
  synapse/replication/tcp/resource.py
  synapse/rest/client/register.py
  synapse/server.py
  synapse/state/__init__.py
  synapse/storage/controllers/persist_events.py
  synapse/storage/database.py
  synapse/storage/databases/main/event_federation.py
  synapse/storage/databases/main/events.py
  synapse/util/ratelimitutils.py
  tests/handlers/test_oauth_delegation.py
  tests/handlers/test_presence.py
  tests/logging/test_terse_json.py
  tests/rest/key/v2/test_remote_key_resource.py
  tests/server.py
  tests/util/test_ratelimitutils.py
Labels: A-Metrics

#18715 Refactor `GaugeBucketCollector` metrics to be homeserver-scoped
  changelog.d/18715.misc
  synapse/metrics/__init__.py
  synapse/storage/databases/main/metrics.py
  tests/storage/databases/main/test_metrics.py
Labels: A-Metrics

#18714 Refactor `LaterGauge` metrics to be homeserver-scoped
  changelog.d/18714.misc
  synapse/federation/send_queue.py
  synapse/federation/sender/__init__.py
  synapse/handlers/presence.py
  synapse/http/request_metrics.py
  synapse/metrics/__init__.py
  synapse/notifier.py
  synapse/replication/tcp/handler.py
  synapse/replication/tcp/protocol.py
  synapse/storage/database.py
  synapse/storage/databases/main/roommember.py
  synapse/util/ratelimitutils.py
  synapse/util/task_scheduler.py
Labels: A-Metrics

#18724 Refactor `Histogram` metrics to be homeserver-scoped
  changelog.d/18724.misc
  scripts-dev/mypy_synapse_plugin.py
  synapse/_scripts/review_recent_signups.py
  synapse/_scripts/synapse_port_db.py
  synapse/api/auth/msc3861_delegated.py
  synapse/federation/federation_server.py
  synapse/federation/sender/__init__.py
  synapse/handlers/appservice.py
  synapse/handlers/federation.py
  synapse/handlers/federation_event.py
  synapse/handlers/sliding_sync/__init__.py
  synapse/http/request_metrics.py
  synapse/metrics/__init__.py
  synapse/metrics/_gc.py
  synapse/metrics/_reactor_metrics.py
  synapse/replication/tcp/external_cache.py
  synapse/rest/client/account.py
  synapse/rest/client/register.py
  synapse/rest/client/room.py
  synapse/state/__init__.py
  synapse/storage/controllers/persist_events.py
  synapse/storage/database.py
  synapse/storage/databases/__init__.py
  synapse/util/ratelimitutils.py
  tests/server.py
  tests/storage/test_appservice.py
  tests/storage/test_rollback_worker.py
  tests/storage/test_unsafe_locale.py
  tests/utils.py
Labels: A-Metrics
